<div class="row">
    <div class="col-8 pt-3">
        <div class="card mx-2">
            <div class="card-header bg-primary">
                <h5 class="text-white">Company List</h5>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

    <div class="col-4 pt-3">
        <div class="card mx-2">
            <div class="card-header bg-success">
                <h5 class="text-white">New Company</h5>
            </div>
            <div class="card-body">
                <form #form="ngForm">
        
                    <!-- companyId -->
                    <input type="hidden" id="companyId" name="companyId" value="0">
        
                    <!-- Company Name -->
                    <div class="mb-3">
                        <label for="companyName" class="form-label">
                            Company Name
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="companyObj.companyName" #comName="ngModel" name="companyName" placeholder="Enter company name" required minlength="5">
                        <div class="text-danger">
                            @if(comName.errors?.['required']){
                                <span>*This is required.</span>
                            }
                            @if(comName.errors?.['minlength']){
                                <span>Minimum 5 character</span>
                            }
                        </div>
                    </div>
        
                    <!-- PIN Code -->
                    <div class="mb-3">
                        <label for="pinCode" class="form-label">
                            PIN Code
                        </label>
                        <input type="text" #pinCode="ngModel" [(ngModel)]="companyObj.pinCode" class="form-control" id="pinCode" name="pinCode" placeholder="Enter PIN code" minlength="6" maxlength="6" required>
                        <div class="text-danger">
                            @if(pinCode.errors?.['required']){
                                <span>*This is required</span>
                            }
                            @if(pinCode.errors?.['minlength'] || pinCode.errors?.['maxlength']){
                                <span>6 digit pin code allowed.</span>
                            }
                        </div>
                    </div>
        
                    <!-- Address -->
                    <div class="mb-3">
                        <label for="address" class="form-label">
                            Address
                        </label>
                        <textarea class="form-control" [(ngModel)]="companyObj.address" id="address" name="address" rows="3" placeholder="Enter company address"
                        ></textarea>  
                    </div>
        
                    <!-- Phone -->
                    <div class="mb-3">
                        <label for="phone" class="form-label">
                            Phone
                        </label>
                        <input type="tel" #phone="ngModel" [(ngModel)]="companyObj.phone" class="form-control" id="phone" name="phone" placeholder="Enter phone number" minlength="10" maxlength="10" required>
                        <div class="text-danger">
                            @if(phone.errors?.['required']){
                                <span>*This is required</span>
                            }
                            @if(phone.errors?.['minlength'] || pinCode.errors?.['maxlength']){
                                <span>10 digit pin code allowed.</span>
                            }
                        </div>
                    </div>
        
                    <!-- Buttons -->
                    <div class="d-flex gap-2">
                        <button type="submit" [disabled]="form.invalid" (click)="onSaveCompany(form)" class="btn btn-primary">
                            Save Company
                        </button>
        
                        <button type="reset" class="btn btn-secondary">
                            Reset
                        </button>
                    </div>
        
                </form>

            </div>
        </div>

    </div>
</div>